* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* GLOBAL a TAG */
a {
  text-decoration: none;
  /* color: #ffffff; */
  transition: color .3s ease-in-out;
}
a:hover {
  /* color: #5d5db1; */
}

/* GLOBAL button TAG */
button {

}

html {
  font-size: 16px;
  color: #383838;
}

body {
  position: relative;
}

/* NAV */
nav {
  background-color: #000066;
  height: 90px;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

nav .menu_container  {
  color: white;
}
nav .menu_container ul.menu_lists {
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .menu_container li  {
  list-style: none;
  display: inline-block;
  padding: 1rem;
  transition: color .3s ease-in-out;
  cursor: default;
}
nav .menu_container li:hover  {
  color: #5d5db1;
}

@media screen and (max-width: 1495px) {
  nav {
    /* color: red; */
    font-size: .5rem;
  }
}

/* HEADER */
header {
  margin-top: 90px;
}
/* THUMBNAIL */
header .thumbnail_conatiner .thumbnail_image img {
  display: block;
  width: 100%;
}

/* MAIN */
main {
}
.container {
  margin: 0 auto;
  padding: 50px 7.5%;
}
main,
footer {
  color: #999999;

}
main .intro_container .intro_detail {
  margin-top: 1rem;

  /* margin: 1rem 0; */
}
main .intro_container button.book {
  padding: 10px;
  width: 120px;
  border: none;
  background-color: #000066;
  transition: background-color .3s ease-in-out;
  color: #ffffff;
  margin-top: 1rem;
}
main .intro_container button.book:hover {
  background-color: #5d5db1;
  cursor: pointer;
}

/* DESIGNS */
.designs_container {
  background-color: #f8f8f8;
}
.designs_container .description {
  color: #999999;
}

/* DETAILS */
.details_container .title {
  font-size: 1.2rem;
  color: black;
  margin-bottom: 1rem;
}

.details_container .about_container,
.details_container .contact_container {
  padding: 30px 0;
}

.details_container .about_container {
  margin-bottom: 30px;
}
.details_container .contact_container .contact_detail_container p {
  margin: .5rem 0;
}
.details_container .contact_container .contact_detail_container p a {
  color: #999999;
}

/* FOOTER */
footer {
  width: 100%;
}
footer .footer_container {
  background-color: #f8f8f8;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* SOCIAL ICONS */
footer .footer_container .copyright_container,
footer .footer_container .social_icons_container
 {
  display: inline;
}
footer .footer_container .social_icons_container {
  float: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer_container .social_icons_container a.icon {
  color: #999999;
  margin: 0 5px;
  position: relative;
  text-align: center;
}

footer .footer_container .social_icons_container a.icon img {
  width: 1.2rem;
  transition: scale .2s;
  scale: 1.3;
  vertical-align: middle;
}
footer .footer_container .social_icons_container a.icon:first-child {
  margin-left: 0;
}
footer .footer_container .social_icons_container a.icon:last-child {
  margin-right: 0;
}

footer .footer_container .social_icons_container a.icon img:hover {
  scale: 1.8;
}