* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* GLOBAL a TAG */
a {
  text-decoration: none;
  /* color: #ffffff; */
  transition: color .3s ease-in-out;
}
a:hover {
  /* color: #5d5db1; */
}

/* GLOBAL button TAG */
button {

}

li {
  list-style: none;
}

html {
  font-size: 16px;
  color: #383838;
}

body {
  position: relative;
}

/* NAV */
nav {
  background-color: #000066;
  height: 90px;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  position: relative;
}

nav .menu_container  {
  color: white;
}
nav .menu_container ul.menu_lists {
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .menu_container li.menu:hover  {
  color: #5d5db1;
}
/* nav .menu_container li  { */
  nav .menu_container p.menu_name  {
  display: inline-block;
  padding: 1rem;
  transition: color .3s ease-in-out;
  cursor: default;
}
nav .menu_container li.menu:hover .menu_contents_container {
  display: block;
}

nav .menu_container li.menu .menu_contents_container ul.inner_contents li {
  padding: 10px 50px;
}
nav .menu_container li.menu .menu_contents_container ul.inner_contents li:hover {
  color: #5d5db1;
}
nav .menu_container li.menu .menu_contents_container  {
  position: fixed;
  display: none;
  top: 90px;
  color: white;
  background-color: #000066;
  padding: 1rem 0;
  cursor: default;
}

nav .menu_container.show ul.menu_lists li {
  background-color: #000066
}


.box {
  position: absolute;
  top: 50%;
  right: 80px;
  z-index: 10;
  display: none;
  border-radius: 2px;
  float: right;
  transform: translate(-50%, -50%);
  box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);
}

.btn {
  position: absolute;
  /* top: 50%; */
  /* left: 50%; */
  transform: translate(-50%, -50%);
  width: 50px;
  cursor: pointer;
}

span {
  display: block;
  width: 100%;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.3);
  border-radius: 3px;
  height: 4px;
  background: #fff;
  transition: all .3s;
  position: relative;
}

.btn.active span + span {
  margin-top: 17px;
}

span + span {
  margin-top: 10px;
}

.active span:nth-child(1) {
  animation: ease .7s top forwards;
}

.not-active span:nth-child(1) {
  animation: ease .7s top-2 forwards;
}

.active span:nth-child(2) {
  animation: ease .7s scaled forwards;
}

.not-active span:nth-child(2) {
  animation: ease .7s scaled-2 forwards;
}

.active span:nth-child(3) {
  animation: ease .7s bottom forwards;
}

.not-active span:nth-child(3) {
  animation: ease .7s bottom-2 forwards;
}

@keyframes top {
  0% {
    top: 0;
    transform: rotate(0);
  }
  50% {
    top: 22px;
    transform: rotate(0);
  }
  100% {
    top: 22px;
    transform: rotate(45deg);
  }
}

@keyframes top-2 {
  0% {
    top: 22px;
    transform: rotate(45deg);
  }
  50% {
    top: 22px;
    transform: rotate(0deg);
  }
  100% {
    top: 0;
    transform: rotate(0deg);
  }
}

@keyframes bottom {
  0% {
    bottom: 0;
    transform: rotate(0);
  }
  50% {
    bottom: 22px;
    transform: rotate(0);
  }
  100% {
    bottom: 22px;
    transform: rotate(135deg);
  }
}

@keyframes bottom-2 {
  0% {
    bottom: 22px;
    transform: rotate(135deg);
  }
  50% {
    bottom: 22px;
    transform: rotate(0);
  }
  100% {
    bottom: 0;
    transform: rotate(0);
  }
}

@keyframes scaled {
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes scaled-2 {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@media screen and (max-width: 1305px) {
  nav .menu_container {
    /* display: none; */
    visibility: hidden;
    width: 0;
    transition: width .4s ease-in-out;
  }
  nav .icons_container {
  display: block;
  }
  .box {
    display: block;
  }
  nav .menu_container.show .menu_lists  {
    display: block;
  }
  nav .menu_container.show  {
    visibility: visible;
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    transition-delay: .4s;
    padding-top: 90px;
    /* transition: width .5s ease-in-out; */
  }
  nav .menu_container.show li.menu .menu_contents_container {
    display: none;
    position: initial;
  }
  nav .menu_container li.menu .menu_contents_container.show  {
    display: block;
  }
  nav .menu_container li.menu .menu_contents_container.show .inner_contents  {
    background-color: #1c1c86;
  }
  nav .menu_container li.menu .menu_contents_container.show .inner_contents li  {
    background-color: inherit;
  }
}

/* HEADER */
/* THUMBNAIL */
header .thumbnail_conatiner .thumbnail_image img {
  display: block;
  width: 100%;
}

/* MAIN */
main {
}
.container {
  margin: 0 auto;
  padding: 50px 7.5%;
}
main,
footer {
  color: #999999;

}
main .intro_container .intro_detail {
  margin-top: 1rem;

  /* margin: 1rem 0; */
}
main .intro_container button.book {
  padding: 10px;
  width: 120px;
  border: none;
  background-color: #000066;
  transition: background-color .3s ease-in-out;
  color: #ffffff;
  margin-top: 1rem;
}
main .intro_container button.book:hover {
  background-color: #5d5db1;
  cursor: pointer;
}

/* DESIGNS */
.designs_container {
  background-color: #f8f8f8;
}
.designs_container .description {
  color: #999999;
}

/* DETAILS */
.details_container .title {
  font-size: 1.2rem;
  color: black;
  margin-bottom: 1rem;
}

.details_container .about_container,
.details_container .contact_container {
  padding: 30px 0;
}

.details_container .about_container {
  margin-bottom: 30px;
}
.details_container .contact_container .contact_detail_container p {
  margin: .5rem 0;
}
.details_container .contact_container .contact_detail_container p a {
  color: #999999;
}

/* FOOTER */
footer {
  width: 100%;
}
footer .footer_container {
  background-color: #f8f8f8;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* SOCIAL ICONS */
footer .footer_container .copyright_container,
footer .footer_container .social_icons_container
 {
  display: inline;
}
footer .footer_container .social_icons_container {
  float: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer_container .social_icons_container a.icon {
  color: #999999;
  margin: 0 5px;
  position: relative;
  text-align: center;
}

footer .footer_container .social_icons_container a.icon img {
  width: 1.2rem;
  transition: scale .2s;
  scale: 1.3;
  vertical-align: middle;
}
footer .footer_container .social_icons_container a.icon:first-child {
  margin-left: 0;
}
footer .footer_container .social_icons_container a.icon:last-child {
  margin-right: 0;
}

footer .footer_container .social_icons_container a.icon img:hover {
  scale: 1.8;
}