* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* GLOBAL a TAG */
a {
  text-decoration: none;
  color: #ffffff;
  transition: color .3s ease-in-out;
}
a:hover {
  color: #5d5db1;
}

/* GLOBAL button TAG */
button {

}

html {
  font-size: 16px;
  color: #383838;
}

body {
  position: relative;
}

/* NAV */
nav {
  background-color: #000066;
  height: 90px;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .main_menu_container .menu_container {
  padding: .5rem;
}

/* HEADER */
/* THUMBNAIL */
header .thumbnail_conatiner .thumbnail_image img {
  display: block;
  width: 100%;
}

/* MAIN */
main .container {
  margin: 0 auto;
}
main .about_container {
  width: 85%;
  padding: 50px 0;
}

main .about_container .about_detail {
  margin-top: 1rem;

  /* margin: 1rem 0; */
}
main .about_container button.book {
  padding: 10px;
  width: 120px;
  border: none;
  background-color: #000066;
  color: #ffffff;
  transition: background-color .3s ease-in-out;
  /* margin: 1rem 0; */
  margin-top: 1rem;
}
main .about_container button.book:hover {
  background-color: #5d5db1;
}


/* f8f8f8 */